<!-- Generated template for the CarListComponent component -->
<div>
  <ion-grid>

    <ion-row>
      <ion-col>
        <strong>Check</strong>
      </ion-col>
      <ion-col>
        <strong>Model</strong>
      </ion-col>
      <ion-col>
        <strong>Price</strong>
      </ion-col>
      <ion-col>
        <strong>Color</strong>
      </ion-col>
    </ion-row>


    <ion-row *ngFor="let car of cars;let i = index;">
      <ion-col>
        <ion-checkbox [(ngModel)]="car.checked" (ionChange)="addToCarComparisonList(car)" [disabled]="(comparisonList.length == 3) && (car.checked==false)"></ion-checkbox>
      </ion-col>
      <ion-col>
        {{car.model}}
      </ion-col>
      <ion-col>
        {{car.price}}
      </ion-col>
      <ion-col>
        {{car.color}}
      </ion-col>
    </ion-row>

  </ion-grid>
</div>
